html,
body {
    height: 100%;
}

body,
textarea,
input {
    color: #5d5b5b;
}

input,
textarea {
    font-family: inherit;
    line-height: 1.5;
}

textarea::placeholder,
input::placeholder {
    color: #aaa;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* ヘッダー */
.header {
    display: grid;
    align-items: center;
    padding: 16px 0;
    height: 80px;
    border: 1px solid #e0dfde;
    text-align: center;
    font-family: serif;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.header__heading {
    font-weight: lighter;
    font-size: 32px;
    grid-column: 2;
}

.header__link {
    margin: 0 auto;
    width: 80px;
    border: 1px solid #949393;
    background-color: #f0f0f0;
    color: #949393;
    text-decoration: none;
    grid-column: 3;
}

/* コンテンツ */
.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 48px;
}

.content__heading {
    text-align: center;
    font-weight: 100;
    font-size: 32px;
    font-family: serif;
    color: #5d5b5b;
}

/* ボタン */
.btn {
    display: block;
    padding: 8px 32px;
    border: none;
    background-color: #949393;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/* ページネーション */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 30px;
}

.pagination li:not(.active) {
    border: 1px solid #e0dfde;
    padding: 4px 12px;
}

.pagination li:not(:last-child) {
    border-right: none;
}

.pagination a {
    color: #8b7969;
    text-decoration: none;
}

.pagination__link {
    text-decoration: none;
}

.active {
    padding: 4px 12px;
    border: 1px solid #8b7969;
    background-color: #8b7969;
    color: #fff;
}

