.header {
    background: #fff;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    text-align: center;
}

.header__logo {
    color: #887a6b;
    text-decoration: none;
    font-size: 30px;
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    color: #887a6b;
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.confirm__heading {
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 15px 30px;
    width: 30%;
    border-bottom: 1px solid #ddd;
    background-color: #B7A89B;
    color: #fff;
    text-align: left;

}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
    color: #887a6b;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.send__btn {
    padding: 10px;
    width: 10%;
    height: 35px;
    border: none;
    background: #887a6b;
    color: #fff;
    cursor: pointer;
}

.back__btn {
    color: #887a6b;
    margin: 35px;

}