.confirm-form__table {
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: 50%;
}

.confirm-table__row {
    border: 1px solid #e0dfde;
}

.confirm-table__label,
.confirm-table__data {
    padding: 15px 30px;
}

.confirm-table__label {
    width: calc(100% / 3);
    background-color: #949393;
    color: #fff;
    text-align: left;
    font-weight: 400;
}

.confirm-form__button {
    margin-top: 30px;
    text-align: center;
}

.send__btn {
    padding: 10px;
    width: 10%;
    height: 35px;
    border: none;
    background: #949393;
    color: #fff;
    cursor: pointer;
}

.back__btn {
    color: #887a6b;
    margin: 35px;
}
