
* {
    color: #887a6b;

}

body {
    background: #E6E2DC;
}

.header {
    background: #fff;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    display: flex;
    justify-content: center;
    position: relative;
}

.header__logo {
    color: #887a6b;
    text-decoration: none;
    font-size: 30px;
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.header__form {
    position: absolute;
    right: 0;
}



.header-nuv__button {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    padding: 5px 15px;
    color: #887a6b;
    font-size: 20px;
    text-align: center;
    background-color: #ddd;
    border-color: #887a6b;
    position: absolute;
    right: 0;
}

.header-nuv__button-item {
    text-decoration-line: none;

}



.login-form__heading {
    margin-bottom: 40px;
    padding-top: 30px;
    text-align: center;
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: normal;

}

.form__inner {
    background: #fff;
    height: 500px;
    padding: 70px 10px;
    margin: 90px 400px;
}

.form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
    background: #ddd;

    appearance: none;
}

.form__button {
    margin-top: 20px;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #887a6b;
    color: #fff;
    cursor: pointer;
}

.login__link {
    margin-top: 20px;
    text-align: center;
}